.author__avatar img {
  border-radius: 0;        /* removes the circle */
  max-width: 200px;        /* control the width */
  position: static;        /* stops it moving with cursor */
}

.site-title {
  font-family: Georgia, serif !important;
  color: #a07080 !important;
  font-size: 1.8em !important;
}

.page__title {
  font-family: Georgia, serif !important;
  color: #a07080 !important;
}

.greedy-nav a {
  font-family: Georgia, serif !important;
  color: #a07080 !important;
}

.site-title::after {
  content: "";
  display: inline-block;
  background-image: url('/assets/images/LogoCircuit.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-left: 8px;
  position: relative;
  top: 15px;
}
